<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="BaDongDB"
			 connectionString="Data Source=localhost;Initial Catalog=BaDongTourism;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" maxRequestLength="10240" />
		<authentication mode="Forms">
			<forms loginUrl="~/Admin/Login.aspx" timeout="60" name=".ASPXAUTH" />
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
		<globalization culture="vi-VN" uiCulture="vi-VN" fileEncoding="utf-8"
					   requestEncoding="utf-8" responseEncoding="utf-8" />
<customErrors mode="Off" />
	</system.web>

	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff2" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
			<mimeMap fileExtension=".woff"  mimeType="font/woff" />
		</staticContent>
	</system.webServer>

	<appSettings>
		<add key="SiteName"  value="Du Lịch Ba Động" />
		<add key="SiteEmail" value="info@badong.com" />
		<add key="SitePhone" value="0294 1234 567" />
		<add key="UploadFolder" value="~/Content/images/uploads/" />
	</appSettings>
</configuration>