<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Cho phep tat ca truy cap vao thu muc Admin -->
    <!-- Viec kiem tra dang nhap duoc xu ly boi Session trong Admin.Master.cs -->
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
</configuration>
